<div class="login-form-container clearfix">
  <h1>King's Banking</h1>
  <p>Welcome to King's Banking! Please Log in.</p>
  <br>
  <div class="login-form">
    <%= form_with scope: :account,url:"#" do |f| %>
        <dl class="form">
          <dt><%= f.label :name, "Username:" %></dt>
          <dd><%= f.text_field :name %></dd>
        </dl>

        <dl class="form">
          <dt><%= f.label :password, "Password:" %></dt>
          <dd><%= f.password_field :password %></dd>
        </dl>


        <p><%= f.submit "Log in", :class => "login-button btn btn-primary" %></p>
    <% end %>
  </div>
</div>
