<%= error_messages_for(f.object) %>
<p>First Name</p>
<%= f.text_field(:first_name) %>
<p>Middle Name</p>
<%= f.text_field(:middle_name) %>
<p>Last Name</p>
<%= f.text_field(:last_name) %>
<p>Email</p>
<%= f.text_field(:email) %>
<p>Confirm email</p>
<%= f.text_field(:email_confirmation) %>
<p>Password</p>
<%= f.text_field(:password) %>
<p>Confirm password</p>
<%= f.text_field(:password_confirmation) %>
