<h1>All your users!</h1>
<p>View all your users and make modifications to them by clicking the buttons to the right.</p>
<%= link_to("Create new user", new_user_path()) %> | 
<%= link_to('Create Bank Account', new_bank_account_path()) %>
<table class="table">
  <tr>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Currency</th>
    <th>Posessed Bank Account</th>
    <th>Password</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.middle_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.currency.code %></td>
      <td><%= user.bank_accounts.count%></td>
      <td><%= user.password %></td>
      <td>
        <%= link_to('Edit', edit_user_path(user)) %> |
        <%= link_to('Delete', delete_user_path(user)) %>
      </td>
    </tr>
  <% end %>
</table>
