<% @user = current_user %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your KB Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Welcome text to the account with your name and maybe some options to other pages -->
    
    <div>
      <h1>Welcome <%= @user[:first_name] + " " + @user[:middle_name] + " " + @user[:last_name] %></h1>
      <h2>Last logged in: <%= (Time.now - rand(60 * 60 * 24 * 3)).strftime('%m/%d/%Y %I:%M:%S %p') %></h2>
    </div>

    <!-- side panel about messages / special offers to the left -->


    <!-- list of your accounts, their current balance and some other information with buttons for view statements, make payment, make transaction and more actions -->
    <div>
      <% BankAccount.where(user: @user).each do |account| %>
        Account Name: <%= account[:account_name] %>
        <br/>
        Account Number: <%= account[:account_number] %>
        <br/>
        Sort Code: <%= account[:sort_code] %>
        <br/>
        <%= link_to "View Account", account %>
        <br/><br/>
      <% end %>
    </div>
  
  </body>
</html>
