<br></br>
 <div class="container">
     <!-- Content here -->
     <div class="jumbotron bg-secondary text-white">
         <h2 class="display-4">Hello, Administrator <%= current_user[:username] %>.</h2>
         <p class="lead">Start managing users, accounts and transaction histories from below.</p>
     </div>

     <div class="row row-cols-1 row-cols-md-4 g-4">
     <div class="col">
     <div class="card h-100 text-dark bg-white">
       <div class="card-body">
         <h3 class="card-title">#might manage the administrators</h3>
         <p class="card-text">Create/View/Edit/Delete bank users</p>
       </div>
       <%= image_tag("adminImages/user.jpg", class:"card-img-top") %>
     </div>
   </div>
   <div class="col">
     <div class="card h-100 text-dark bg-white">
       <div class="card-body">
         <h3 class="card-title"><%=link_to 'Manage User', signup_path %></h3>
         <p class="card-text">Create / View / Edit / Delete bank users.</p>
       </div>
       <%= image_tag("adminImages/user.jpg", class:"card-img-top") %>
     </div>
   </div>
   <div class="col">
     <div class="card h-100 text-dark bg-white">
       <div class="card-body">
         <h3 class="card-title"><%=link_to 'Manage Bank Account & Transaction', new_bank_account_path %></h3>
         <p class="card-text">Create / View / Edit / Delete bank accounts and corresponding transaction histories.</p>
       </div>
       <%= image_tag("adminImages/account.jpg", class:"card-img-top") %>
     </div>
   </div>
   <div class="col">
     <div class="card h-100 text-dark bg-white">
       <div class="card-body">
         <h3 class="card-title">Useful Links</h3>
         <p class="card-text"><%=link_to 'View all users', users_path() %></p>
         <p class="card-text"><%=link_to 'View all bank accounts', bank_accounts_path() %></p>
       </div>
       <%= image_tag("adminImages/link.jpg", class:"card-img-top") %>
     </div>
   </div>
 </div>

 </div> 
