<%# <h1>View all your Transaction History</h1>

<table class="table">
    <tr>
        <th>Bank Account ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Money In</th>
        <th>Money Out</th>
    </tr>
 
<% for transaction in @allTransactions %>
    <%# <tr>
        <td><%= transaction.bank_account.id %></td>
        <%# <td><%= transaction.date %></td>
        <%# <td><%= transaction.description %></td>
        <%# <td><%= transaction.reference %></td> %>
        <%# <td><%= transaction.money_in %></td>
        <%# <td><%= transaction.money_out %></td> %> %>
    <%# </tr> %> %>

<%# <% end %> %> %>

<%# </table> %> %> %>
