<%= error_messages_for(f.object) %>
<p>Account name</p>
<%= f.text_field(:account_name) %>
<p>Account number</p>
<%= f.text_field(:account_number) %>
<p>Sort Code</p>
<%= f.text_field(:sort_code) %>
<%# <p>How many random transaction do you want to add to this account?</p> %>
<%# <%= f.number_field(:numoftransactions) %>
