<h1>View all your bank accounts.</h1>
<p>View all your Bank Accounts and initiate actions to them by clicking the buttons to the right.</p>
<%= link_to("Create new bank account", new_bank_account_path()) %>
<br></br>

<table class="table">
    <tr>
        <th>User Name</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Sort Code</th>
        <th>Actions</th>
    </tr>
    <% @bank_accounts.each do |bank_account| %>
    <tr>
        <td><%= bank_account.user.first_name %></td>
        <td><%= bank_account.account_name %></td>
        <td><%= bank_account.account_number %></td>
        <td><%= bank_account.sort_code %></td>
        <td>
            <%= link_to 'Edit', edit_bank_account_path(bank_account) %> |
            <%= link_to 'Destroy',bank_account, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <%= link_to 'Create Transactions', new_bank_account_transaction_path(bank_account)%> |
            <%= link_to 'View Transactions', bank_account_transactions_path(bank_account) %> 
        </td>
    </tr>
    <% end %>
</table>
