<% @title="Make Payment" %>
<% currency = Currency.find(current_user[:currency_id]) %>
<% transactions = Transaction.where(bank_account: @bank_account) %>
<% money_in = transactions.calculate(:sum, :money_in) %>
<% money_out = transactions.calculate(:sum, :money_out) %>
<div class="login-form login-form-container">
  <h1>Make a payment from <%= @bank_account[:account_name] %></h1>
  <h2>Account number: <%= @bank_account[:account_number] %></h2>
  <h2>Sort code: <%= @bank_account[:sort_code] %></h2>
  <h3>Balance: <%= number_to_currency((money_in - money_out) / currency[:rate_to_gbp], :unit => currency[:symbol]) %></h3>
  <%= link_to("Return to view all accounts", '/account') %>
  <%= form_with(model: @transaction, url: 'send_payment', local: true) do |f| %>
    <%= error_messages_for(f.object) %>
    <p>This payment will be from the following account: <%= @bank_account[:account_name] %></p>
    <dt>To (account number)</dt>
    <%= f.text_field(:account_number) %>
    <dt>To (sort code)</dt>
    <%= f.text_field(:sort_code) %>
    <dt>Amount</dt>
    <%= f.text_field(:amount) %>
    <dt>Description / Purpose</dt>
    <%= f.text_field(:description) %>
    <dt>Reference</dt>
    <%= f.text_field(:reference) %>
    <br>
    <br>
    <%= f.submit("Send payment", data: { confirm: 'Are you sure?' }, :class => "login-button btn btn-primary") %>
  <% end %>
</div>
