<h1>View Bank Account</h1>
<p>Viewing specific transaction</p>
<p><%= link_to('Edit this transaction', edit_transaction_path(@transaction)) %></p>
<table class="table">
  <tr>
    <th>Bank Account ID</th>
    <th>Date</th>
    <th>Description</th>
    <th>Reference</th>
    <th>Money In</th>
    <th>Money Out</th>
  </tr>
  <tr>
    <td><%= @transaction.bank_account %></td>
    <td><%= @transaction.date %></td>
    <td><%= @transaction.description %></td>
    <td><%= @transaction.reference %></td>
    <td><%= @transaction.money_in %></td>
    <td><%= @transaction.money_out %></td>
  </tr>
</table>
