<% @title="View Transactions" %>

<h1>View all your Transactions for this account</h1>
<p>View all your transactions and initiate actions to them by clicking the buttons to the right.</p>
<%= link_to 'View all bank accounts', bank_accounts_path %> |
<%= link_to 'Create new transaction', new_bank_account_transaction_path(@bank_account) %>
<table class="table">
    <tr>
        <th>Bank Account Number</th>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Money In</th>
        <th>Money Out</th>
        <th>Actions</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
        <td><%= transaction.bank_account.account_number %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.reference %></td>
        <td><%= transaction.money_in %></td>
        <td><%= transaction.money_out %></td>
        <td>
            <%= link_to 'Edit', edit_bank_account_transaction_path(@bank_account,transaction) %> |
            <%= link_to 'Destroy', [@bank_account,transaction],method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
</table>