<h1>View all your Transactions</h1>
<p>View all your Transactions and make modifications to them by clicking the buttons to the right.</p>
<%= link_to("Create new transaction", new_transaction_path()) %>
<table class="table">
    <tr>
        <th>Bank Account ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Money In</th>
        <th>Money Out</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.reference %></td>
        <td><%= transaction.money_in %></td>
        <td><%= transaction.money_out %></td>
        <td>
            <%= link_to('Show', transaction_path(transaction)) %>
            <%= link_to('Edit', edit_transaction_path(transaction)) %>
            <%= link_to('Delete', delete_transaction_path(transaction)) %>
        </td>
    </tr>
    <% end %>
</table>