<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "King's Banking" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    .btn-danger:hover {
      color: #FFF;
      background: #BB2D3B;
    }
  </style>
  <!--- Display navigation bar and search engine --->
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag("logos/logo_h.png", width: "210", height: "60") %>
        </a>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Bank</a>
            <a class="nav-item nav-link" href="/loans">Loan</a>
            <a class="nav-item nav-link" href="/savings">Savings & investing</a>
            <a class="nav-item nav-link" href="/contact_us">Customer Support</a>
          </div>
        </div>
        <div class="navbar-nav" style="margin-right: 50px">
          <a class="nav-item nav-link" href="/contact_us">Contact Us</a>
          <% if logged_in? %>
            <% if is_admin? %>
              <a class="nav-item nav-link active font-weight-bold">Logged in as admin.</a>
            <% end %>
            <%=link_to 'Log Out', logout_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
            <%=link_to 'Login', login_path, class: "text-light btn btn-danger nav-item nav-link ml-3 mr-2" %>
            <%=link_to 'Don\'t have online banking? Sign up.', root_path, class: "text-light btn btn-danger nav-item nav-link" %>
          <% end %>
        </div>
      </nav>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
