<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "King's Banking" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logos/logo.png' %>
  </head>
  <style>
    .btn-danger:hover {
      color: #FFF;
      background: #BB2D3B;
    }
  </style>
  <!--- Display navigation bar and search engine --->
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag("logos/logo_h.png", width: "210", height: "60") %>
        </a>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Bank</a>
            <a class="nav-item nav-link" href="/loans">Loan</a>
            <a class="nav-item nav-link" href="/savings">Savings & investing</a>
            <a class="nav-item nav-link" href="/contact_us">Customer Support</a>
            <% if logged_in? %>
              <% if is_admin? %>
                <a class="nav-item nav-link active font-weight-bold text-primary" href="/admin">Click here to go to Admin Panel.</a>
              <% else %>
                <a class="nav-item nav-link active font-weight-bold text-danger" href="/account">Account Page</a>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="navbar-nav" style="margin-right: 50px">
          <a class="nav-item nav-link" href="/contact_us">Contact Us</a>
          <% if logged_in? %>
            <% if is_admin? %>
              <a class="nav-item nav-link active font-weight-bold">Logged in as admin.</a>
            <% end %>
            <%=link_to 'Log Out', logout_path, method: :delete, class: "nav-item nav-link text-danger" %>
          <% else %>
            <%=link_to 'Login', login_path, class: "text-light btn btn-danger nav-item nav-link ml-3 mr-2" %>
            <%=link_to 'Don\'t have online banking? Sign up.', signup_path, class: "text-light btn btn-danger nav-item nav-link" %>
          <% end %>
        </div>
      </nav>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
  <!-- Footer based on: https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
  <hr class="mt-5"/>
  <footer class="page-footer font-small blue pt-5 bg-light">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">King's Banking</h5>
          <p>King's Banking is authorised* by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.</p>
          <p>*: maybe in a hundred years</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/contact_us">Contact Us</a>
            </li>
            <li>
              <a href="/savings">Savings</a>
            </li>
            <li>
              <a href="/loans">Loans</a>
            </li>
            <li>
              <a href="/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright
      <a href="https://kingsbanking.herokuapp.com/"> kingsbanking.herokuapp.com</a>
    </div>
  </footer>
</html>
